.champion-info {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to right, rgb(255, 75, 43), rgb(255, 65, 108));
}

.driver-container {
  text-align: right;
}

.driver-info {
  font-size: 1.3rem;
  color: white;
}

.spinner {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.img {
  height: 3rem;
  width: 3rem;
  vertical-align: bottom;
}

.car-container {
  display: flex;
  justify-items: flex-end;
  justify-content: flex-end;
}

.margin-left {
  margin-left: 0.5rem;
}

.flex {
  display: flex;
  width: 85%;
  justify-content: space-between;
}
