@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, auto));
  grid-gap: 1.5rem;
  width: 90vw;
  margin: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
  color: black;
}

.table {
  width: 80vw;
  margin: auto;
}
