
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');



.cards {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;

    grid-gap:1.5rem;
    
}

*{
    font-family: 'Roboto', sans-serif;
}