.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

.bgColorOddRow {
  background-color: red;
}

.bgColorEvenRow {
  background-color: black;
}

.text-color {
  color: white;
}

.margin-right {
  margin-right: 1rem;
}
.raceInfo-width {
  width: 35%;
}

.winnerOfRace {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

.winner-container {
  width: 70%;
}
