.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 62.5rem;
  margin: auto;
}

.bgColor:nth-child(odd) {
  background-color: red;
}

.bgColor:nth-child(even) {
  background-color: black;
}

.text-color {
  color: white;
}

.margin-right {
  margin-right: 1rem;
}
.raceInfo-width {
  width: 35%;
}

.winnerOfRace {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

.winner-container {
  width: 70%;
}
